/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 sept 2024, 17:41:39
    Author     : ideapad 3
*/

#tituloprincipal {
    color: blueviolet;
}
.ejemplocajas {
    border: 2px solid black;
}

