<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>     
    <body>    
        <header th:replace="layout/plantilla :: header"></header>
        <h1>Información</h1>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15718.604153833458!2d-84.2444903!3d9.9629638!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f8c1edb11067%3A0x6d06b53b27278e47!2sNido%20de%20%C3%81guilas!5e0!3m2!1sen!2scr!4v1729901939424!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
